<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<preference for="Magento\Customer\Controller\Account\CreatePost" type="Digicel\Customeraccount\Controller\Account\CreatePost" />
<preference for="Magento\Customer\Controller\Account\EditPost" type="Digicel\Customeraccount\Controller\Account\EditPost" />
</config>
