<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="standard">
		<route frontName="handsetprice" id="handsetprice">
			<module name="Digicel_HandsetPrice"/>
		</route>
	</router>
</config>
