<!--The 'step_code' value from the .js file should be used-->
<li id="terms_conditions" data-bind="fadeVisible: isVisible">
<div class="step-title" data-bind="i18n: 'Terms and conditions'" data-role="title"></div>
<div id="checkout-step-title" class="step-content" data-role="content"><form novalidate="novalidate" data-bind="submit: navigateToNextStep">
<div>
<div>
<div><label for=""> <input checked="checked" name="terms-conditions-general" type="checkbox" value="yes" data-validate="{required:true}" /> <span class="checkmark"></span> You have read and accepted the General Terms and Condition </label></div>
<div>
<div><a target="_blank" data-bind=""> <span style="text-decoration: underline;">View document</span><span></span></a> <span style="text-decoration: underline;">Download</span><span></span></div>
</div>
</div>
</div>
<div class="fontRed pl201">
<div>
<div><label for=""> <input checked="checked" name="terms-conditions-potin" type="checkbox" value="yes" data-validate="{required:true}" /> <span class="checkmark"></span> You have read and accepted the Port In Terms and Conditions </label></div>
<div>
<div><a target="_blank" data-bind=""> <span style="text-decoration: underline;">View document</span><span></span></a> <span style="text-decoration: underline;">Download</span><span></span></div>
</div>
</div>
</div>
<div>
<div>
<div><label for=""> <input checked="checked" name="terms-conditions-billing" type="checkbox" value="yes" data-validate="{required:true}" /> <span class="checkmark"></span> You have read and accepted the Installation Billing Terms and Conditions </label></div>
<div>
<div><a target="_blank" data-bind=""> <span style="text-decoration: underline;">View document</span><span></span></a> <span style="text-decoration: underline;">Download</span><span></span></div>
</div>
</div>
</div>
<h6 style="color: red;">You must agree to all terms and conditions before proceed to payment</h6>
</form></div>
	<form data-bind="submit: navigateToNextStep" novalidate="novalidate">
            <div class="actions-toolbar">
                <div class="primary">
                    <button data-role="opc-continue" type="submit" class="button action continue primary">
                        <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                    </button>
                </div>
            </div>
        </form>
</li>