<!--The 'step_code' value from the .js file should be used-->
<li id="my_contract" data-bind="fadeVisible: isVisible">
<div class="step-title" data-bind="i18n: 'Terms and conditions'" data-role="title"></div>
    <div id="checkout-step-title"
         class="step-content"
         data-role="content">
		<!--<div style="overflow: scroll ;max-height: 250px; width: 100%;">
		<p>
<h2>TERMINOS Y CONDICIONES DIGICELS ECOMMERCE ALCANCE DE LOS TÉRMINOS Y CONDICIONES </h2>
El presente documento establece los términos y condiciones de uso del sitio web Digicel.com que la empresa Digicel Panamá s.a. posee y maneja en la república de Panamá, éstos términos y condiciones rigen el acceso, y operación que realice cualquier visitante de la página, así como cualquier mensaje de datos y/o información que los visitantes envíen, reciban, por las acciones que realicen dentro de él. Al acceder y al usar nuestro sitio web, usted manifiesta aceptar nuestros términos y condiciones. Si usted no está de acuerdo con estos términos, por favor no acceda o haga uso de este Sitio Web.
OBJETO DEL SITIO WEB
Digicel.com tiene como objeto facilitar a sus clientes, usuarios y visitantes de la página en general el acceso a la compra de planes y productos,así como a la información relativa a dichos servicios, productos, equipos, tarifas, promociones, y cualquier otra información relacionada (en adelante los "servicios y productos”)
COMO ENTRAR A NUESTRO SITIO WEB 
Para entrar al sitio web, usted necesitará tener una PC, tableta o terminal con acceso a internet. Usted es responsable de dicho equipo y de obtener acceso al servicio de internet, lo que podrá implicar el pago de contraprestaciones a favor de terceros (como el pago al proveedor de servicio de acceso a Internet), Digicel Panamá s.a. no se hace responsable de la calidad de su servicio web o de las fallas en la navegación a causa del servicio.
La utilización de este sitio web le atribuye a Ud. la condición de usuario Digicel (en adelante, el "Usuario") e implica la aceptación plena y sin reservas de todas y cada una de las disposiciones incluidas en este documento en el momento mismo en que el usuario acceda y realice alguna acción dentro de nuestro sitio web.
PROCESO DE REGISTRO
Para registrarse, la página web solicitará algunos datos personales, los cuáles serán procesados, guardados y tratados conforme a nuestras políticas de Privacidad:
Usted es responsable de mantener la confidencialidad de su contraseña y de su nombre de usuario, y de todo lo que suceda con su contraseña y nombre usuario. Usted deberá informar en forma inmediata a Digicel sobre todo uso no autorizado de su cuenta o sobre cualquier otra posible violación a la seguridad de sus datos; lo anterior, sin que dicha notificación implique para Digicel asumir responsabilidad alguna por el mal uso de dichos datos por parte de un tercero. Digicel realiza un proceso de verificación enviando un email o SMS, el cual se debe autenticar entrando en el desde su correo electrónico personal o desde su terminal móvil, para completar el proceso.
Sus datos personales serán utilizados únicamente en el contexto de los servicios que le prestaremos. En caso de usted haya otorgado su consentimiento, podremos también enviarle promociones y ofertas. Antes de completar su registro, le ofreceremos la opción de elegir no recibir nuestras promociones y ofertas. Asimismo, usted tendrá en todo momento derecho de solicitarnos el dejar de recibir mensajes promocionales y publicitarios. Nosotros pondremos a su disposición varios mecanismos para que usted nos haga saber su negativa. Sus datos serán guardados en nuestra BDD y usted podrá cambiarlos y editarlos cuando lo crea necesario.
Es importante que para registrarse y hacer una compra sea mayor de edad.
COMPRA Y RECARGA CON TARJETA DE CREDITO
El servicio de recarga de saldo y compra con tarjeta de crédito disponible en Digicel.com está siendo proporcionado por EzetopUnlimited Company t / a Ding o Ezetop Online Services LLC según corresponda ("Ding"). Para obtener más información acerca de Ding, haga clic en el siguiente enlace www.ding.com. En los casos en que adquiera una recarga utilizando una tarjeta de crédito Visa o MasterCard que se emitió en los Estados Unidos, Ezetop Online Services LLC procesará su pago. Ezetop Online Services LLC con domicilio social en 7300 Corporate Center Drive Suite 703 Miami FL 33126 es una subsidiaria de ezetop. Todas las demás compras adicionales serán procesadas por EzetopUnlimited Company t / a Ding. Toda la correspondencia en relación con cualquier compañía de Ding se debe enviar a la oficina registrada de Ding en 3 edificios de Shelbourne, avenida de Crampton, camino de Shelbourne, Dublín 4, Irlanda oal correo electrónico panamapaymentqueries@ding.com
FINANCIAMIENTO DE UN EQUIPO
Detallar: Políticas de InstallmentBilling (criterios de evaluación en la APC), compromisos de pago que el cliente adquiere (Obligaciones), plazo, medidas que Digicel podría tomar ante la falta de pago, como se cierra el proceso cuando termina el plazo.
PROCESO DE PORTABILIDAD
Si quieres traer tu número de otro proveedor de telefonía móvil, necesitas conocer los siguientes detalles: 
La portabilidad consiste en que tu SIM Digicel ya no tendrá el número asignado en el momento que hiciste la activación de tu línea sino el número que quieres traer del otro operador. Esto significa que tus amigos, familiares, conocidos te seguirán llamando al mismo número.
Para portar tu número, revisa los pasos en nuestro sitio web Digicel.com, o contáctanos por chat para cualquier duda que tengas. La portabilidad es gratis y para llevarla a cabo te pediremos que llenes unos campos los cuales están sujetos al formulario regulado por la Autoridad Nacional de Servicios Públicos. Es súper importante que la información que llenes en los campos concuerde con la información de tu cédula/ pasaporte y que sigas las indicaciones de la página web. Digicel Panamá no se hace responsable si el proceso no se completa porque no nos brindaste toda la información solicitada en el sitio web.
Nuestro mensajero llegará con tu solicitud de portabilidad para que los firmes. El tiempo máximo, establecido por la ley, para completar todo el proceso es de 3 días contadas a partir del momento en que se ingresa la solicitud en la Autoridad Nacional de Servicios Públicos, siempre y cuando esto ocurra de Lunes a Viernes de 8:00 - 15:00, y siempre que se cumpla con los requisitos establecidos por la ley hiperlink a documento de portabilidad. Las solicitudes que se presenten en un horario posterior, se considerarán ingresadas a las 9:00 a.m.  horas del siguiente día hábil.
Es súper importante que luego que firmes tu documento de portabilidad, ingreses tu nueva SIM Digicel, donde te llegará un SMS indicándote la aceptación o rechazo de tu portabilidad, la cual ocurre en horas de la madrugada. Recuerda hacer una copia de seguridad de tus datos, para no perder tu información. 
Consideraciones
1.	Una vez que se inicia el proceso de portabilidad no lo puedes suspender y/o cancelar.
2.	El rechazo de la portabilidad por parte de la ASEP no dará lugar a la anulación de la línea adquirida con Digicel, la responsabilidad sobre cualquier compromiso relacionado a ésta nueva línea Digicel, queda vigente. Sin embargo, puedes reiniciar el proceso nuevamente en nuestra página web Digicel.com
3.	Éste rechazo por parte de la ASEP puede ocurrir por muchas razones a continuación te detallamos las algunas: falta de algún documento requerido por ley, incompatibilidad de la firma presentada en la solicitud con la cédula o documento de identidad, saldos pendientes con tu antiguo operador.
ENVIO Y RECEPCION DE EQUIPOS
Con la aceptación de este documento, se aceptan también las siguientes condiciones en términos del despacho y la recepción de los equipos y productos comprados dentro del sitio Digicel.com.
1. Las entregas no se pueden efectuar en un horario exacto. En caso de tener alguna inquietud con su despacho, favor comunicarse a la línea xxxxxxx para verificar el estado del transporte.
2. Las entregas son dentro del área metropolitana y únicamente en zonas consideradas como seguras para la operación del transporte, a criterio del transportista.
3. Es mi responsabilidad revisar que el producto recibido se encuentre en buenas condiciones. Cualquier anomalía que se presente en la entrega y verificación del producto debe quedar escrita en el documento de entrega. En ausencia de reclamos consignados en el documento de transporte correspondiente, se entiende para todos los efectos que fue recibido a satisfacción.
4. El producto podrá ser recibido e inspeccionado únicamente por el titular de la compra, para lo cual bastará la firma del documento de transporte. 
5. En caso de no estar nadie presente en el sitio de entrega para recibir el producto despachado, o no estar presente la persona autorizada, la mercancía será devuelta al lugar de despacho. El cliente deberá comunicarse a la línea XXXXXXpara reprogramar la entrega del producto o coordinar la recogida en una de nuestras tiendas. 
6. Luego de recibido el producto, ni el transportador ni terceros están autorizados para volver a retirar su producto de su hogar bajo ninguna circunstancia. Tenga en cuenta que los amigos de lo ajeno pueden intentar engañarlo con excusas para quedarse con su producto, con argumentos tales como: “Hubo un error en la entrega, le subirán el correcto, el producto entregado está dañado, etc.”. 
7. Recuerde que para hacer efectiva la satisfacción garantizada, su producto debe estar nuevo, sin abrir. Si el producto ha sido abierto, debe estar sin uso y con todas sus etiquetas adheridas al mismo.
POLITICAS DE GARANTIA

Términos y Condiciones de la Garantía de Fábrica 
Por favor, conserve su factura fiscal, ya que debe presentarla ante un reclamo. 
Fotocopiarla para mayor duración. 
Adjunte aquí la factura fiscal. 
Durante la entrega del equipo, el mismo debe ser revisado en presencia del cliente. 
Si dentro de los primeros quince (15) días periodo de garantía (a partir de la entrega del equipo) éste presenta desperfecto de fábrica (cubierto por la garantía de marca), el cliente debe llevar la mercancía directamente al Centro de Servicio Técnico Autorizado por la marca para su revisión y diagnóstico. 
El Centro de Servicio Técnico Autorizado, determinará si el desperfecto es cubierto por la garantía de fábrica (marca), si fue inducido y/o no está cubierto por la garantía. Si el desperfecto es de fábrica se procede con el cambio del equipo o a la suma pagada, cuando no sea posible su reemplazo. 
Posterior a los quince (15) días de compra y siempre y cuando el desperfecto sea de fábrica (cubierto por la garantía) se procederá con la reparación sin costo alguno para el cliente, en un término no mayor a 30 días calendario a partir de la fecha de recibido por el Centro de Servicio Técnico Autorizado. 
En caso tal de excederse el tiempo de reparación de 30 días, el Centro de Servicio Técnico Autorizado, se compromete a reemplazar el equipo en reclamo, por uno nuevo de la misma marca y modelo. 
Para consulta de los Centros de Servicio Técnico Autorizados por las marcas, visite: 
www.digicelpanama.com

Términos y Condiciones de la Garantía de Fábrica 
(a) Condiciones: 

La garantía es válida sólo en la República de Panamá. 
Será válida cuando el desperfecto sea cubierto por la garantía de fábrica. 
(b) Reparaciones Cubiertas por la garantía: 

Si el problema identificado está dentro del periodo y lo cubre la garantía, el teléfono y/o accesorios (batería y cargador) serán reparados sin costo alguno para el Cliente. 
(c) Reparaciones no cubiertas por la garantía: 

Para los casos en que el equipo ya haya sido recibido en una Tienda Digicel (Panamá), S.A. y haya sido ingresado al Servicio Técnico Autorizado, el técnico certificado confirme que el problema no lo cubre la garantía, el Servicio Técnico le notificará al Cliente los costos por transportación y diagnostico que deben ser cancelados por el cliente a la cuenta del Servicio Técnico Autorizado y notificará la cotización para la reparación. El cliente debe decidir si acepta o no el costo total por la reparación y sus cargos (transportación y diagnóstico). De aceptarlo, el taller procederá a la reparación luego que el cliente cancele a la cuenta del Servicio Técnico Autorizado. 
Exclusiones de la Garantía: 

Quedan excluidos de la cobertura de la garantía los siguientes supuestos: 
1. Caducidad del período de garantía. 
2. La falta de presentación del documento de garantía. 
3. La alteración o modificación del documento de garantía. 
4. Reclamos sobre: defectos o fallas del producto por mal uso o abuso. Daños, abolladuras, roturas o raspaduras en el teléfono incluyendo las superficies plásticas y todas las partes externas, incluyendo, pero no limitándose a antenas o pantallas del teléfono. 
5. Defectos o fallas del producto causadas por maltrato, accidente, roturas, golpes, negligencia en el cuidado y mantenimiento del teléfono o cuando el producto no haya sido operado de acuerdo con el manual de usuario y/o el uso en condiciones ambientales adversas a las señaladas por el fabricante. 
6. Si los números de serie del teléfono o sus accesorios muestran evidencia de haber sido alterados o son ilegibles. 
7. En caso de los teléfonos celulares y sus baterías selladas en el que el Cliente o un tercero haya intentado o ha removido el sellado. 
8. Colocar una SIM CARD de un proveedor distinto a Digicel que traiga como consecuencia la inhabilitación del funcionamiento y/o bloqueo del terminal móvil. 
9. Desbloqueo inadecuado del terminal móvil bajo cualquier tipo de circunstancia. 

10. Defectos o fallas en el teléfono debido a instalaciones de programas de reparación que al ser instalados causen un mal funcionamiento en el terminal móvil, mantenimiento, modificaciones o servicio incorrecto causados por personal técnico no autorizado por Digicel, o la manipulación o apertura del teléfono o baterías por terceras personas, o cuando el teléfono muestre señales de intentos de reparación, alteraciones o reparaciones por personal no autorizado, así como también realizar la operación técnica tendiente a la utilización del equipo en la red de un operador distinto a Digicel, por personal técnico no autorizado. 
11. Defectos o fallas en el teléfono o sus accesorios causadas por accidentes naturales o imprudencia en la manipulación: ventilación inadecuada, arena, fluidos, residuos de alimentos, líquidos o cuerpo extraño que sean introducidos en el teléfono o de sus accesorios. 
12. Defectos o fallas en el teléfono o sus accesorios causados por el uso de voltaje distinto al recomendado por el fabricante, modificaciones, conversiones de voltaje o frecuencias. 
13. Defectos o fallas en el teléfono y sus baterías causados por el uso de accesorios genéricos en lugar de los originales suministrados por el fabricante. Baterías no cargadas con el cargador del Fabricante para el equipo en cuestión, se encuentren dañadas físicamente o demuestren alteraciones. 

CENTROS DE SERVICIO TÉCNICO AUTORIZADOS
Fabricante: SAMSUNG / GO MOBILE
Taller: Celltech Inc.
Teléfono: 264-0705
Dirección: Obarrio, Calle 58 Este, Panamá.

Fabricante: APPLE
Taller: Mac Store / MStore
Teléfono: 305-5750
Dirección: MultiplazaPacific Mall, Segundo nivel, frente a Life Plus, local B-237. 
Albrook Mall, Pasillo del Pingüino, Segundo Piso. 
Albrook Mall, Pasillo del Koala, Planta Baja. 
Altaplaza Mall, Planta Baja.
Atrio Mall, Plaza central – Nivel 100.
MStore San Francisco, Cl. 70 San Francisco.
MStoreMulticentro, Pasillo del Caracol, Segundo Piso.
MStoreAlbrook Mall, Pasillo del Elefante.
MStore David, Plaza Terronal.

HUAWEI
Taller: Lead Tecnología.
Teléfono: 203-6663
Ubicación: Albrook Mall, pasillos Pinguinos, frente a Banistmo

HYUNDAI:
Taller: BTX Service Panama
Teléfonos: 395-8348 / 6055-9581
Dirección: Centro Comercial El Dorado, Edif. Siglo XXI

POLITICAS DE GARANTIA
Si la entrega no se concreta por motivos relacionados o no la decisión del cliente o bien relacionados al proceso logístico no aplica cambio, sino la anulación de la venta, por lo cual es responsabilidad de Digicel devolver la totalidad del dinero que el cliente haya pagado con su tarjeta de crédito por adelantado y asegurar que el cliente pueda acceder nuevamente a la opción de adquirir un producto de forma inmediata en la plataforma o algún punto de atención. El procesode una nueva compra, no está vinculado con el proceso de devolución de las sumas pagadas, por lo que no debe ser considerado como un crédito a favor del cliente para efectuar otra compra

USOS PROHIBIDOS 
Usted puede acceder y utilizar nuestro Sitio Web y la Red sólo para fines legítimos y que no contravengan la ley o los derechos de terceros. Usted es responsable de cualquier información que usted transmita, envíe, reciba, publique, almacene o a la cual acceda a través de nuestra Red, incluyendo el contenido de cualquier comunicación. No se permite la transmisión, distribución o almacenamiento de información que viole cualquier ley vigente. A continuación, encontrará algunos tipos de conductas ilegales o dañinas que están prohibidas:
1. Falsificación/Suplantación de identidad: Usted no debe utilizar el Sitio Web para hacerse pasar por alguna otra persona o entidad, o crear una falsa identidad con el propósito de engañar a los demás. Tampoco debe falsificar direcciones, títulos de mensajes o nombres de dominio. 
2. Violación de Leyes y Propiedad Intelectual: Al hacer uso del sitio Usted no debe violar los derechos de propiedad intelectual. (Ley Nº 35 del 10 de Mayo de 1996)El copiar, distribuir y/o publicar sin autorización de nosotros o de otras personas las imágenes, logotipos, software, artículos, obras musicales y videos, que aparecen en este sitio, suele derivar en una violación a nuestros derechos de autor o a derechos de autor de terceros. 
3. Comunicaciones prohibidas: No está permitido distribuir, publicar o enviar a través de nuestro Sitio Web: (1) correo masivo no deseado (spam), incluyendo publicidad, solicitudes, mensajes comerciales por correo electrónico, avisos informativos o cualquier tipo de mensaje promocional no solicitado; (2) correos en cadena; (3) varias copias de mensajes idénticos o altamente similares; (4) mensajes vacíos; (5) mensajes sin contenido sustancial; (6) mensajes o archivos de gran tamaño que creen problemas al servidor; o (7) cualquier mensaje clasificado como “phishing”. 
5. Utilización excesiva del Sitio: No está permitido el uso excesivo de nuestro Sitio, con la intención de dañar, afectar o degradar la Red, la infraestructura del servicio o el uso de la misma por parte de otras personas. 
6. Envío de información que pueda dañar nuestra infraestructura: No está permitido difundir o publicar contenido que sea dañino para la Red, el Sitio Web u otros usuarios, incluyendo virus, caballos troyanos, gusanos, bombas de tiempo, zombies, cancelbots, robots, arañas o cualquier otra rutina de programación informática que pueda dañar, interferir, interceptar en secreto o apoderarse de cualquier sistema, programa, información o dato personal o algún otro dispositivo automático o proceso manual para controlar o copiar algún contenido del Sitio Web o utilizar algún aparato, software o rutina para interferir o intentar interferir en el funcionamiento adecuado del Sitio Web. 
7. Afectar a terceros: No está permitido causar molestias o perturbar a terceros a través del o en el Sitio Web, obtener o almacenar sus datos personales, ni cometer cualquier tipo de operación comercial o prácticas fraudulentas, incluyendo la obtención de direcciones de correo electrónico, nombres u otra forma de identificación de terceros (incluido "spyware"), ni obtener respuestas a partir de mensajes no solicitados. Usted debe respetar derechos de terceros. 
8. Uso de la Red o del Sitio Web sin autorización: No está permitido reproducir, duplicar, copiar, vender, revender o explotar con algún fin comercial alguna parte del Sitio Web, utilizar el Sitio, Red para publicitar sus productos o servicios y en general, utilizar el Sitio Web de alguna forma que no sea según lo expresamente autorizado en estos Términos y Condiciones. 
PROPIEDAD INTELECTUAL 
Digicel es el único propietario o licenciatario de toda su propiedad intelectual, incluyendo, pero no limitado a todas sus marcas, diseños, nombres comerciales y contenido del Sitio Web, estén o no registrados. Usted no podrá exhibirlos o utilizarlos de forma alguna o de forma que se haga un uso comercial o engañoso de ellos. El hecho de que le permitamos usar nuestro Sitio Web no le confiere licencia alguna sobre nuestra propiedad intelectual. 
ENLACES A SITIOS DE TERCEROS 
Nuestro Sitio Web puede contener enlaces a otros sitios de Internet, mismos que lo pueden llevar fuera de nuestro Sitio Web. Estos sitios web externos son operados por terceros sobre los que Digicel no tiene ningún control. Si Usted decide usar estos sitios de Internet de terceros, lo hará bajo su propio riesgo. Digicel no ofrece garantía alguna respecto de la información, productos o servicios ofrecidos por dichos sitios, ni respecto a sus prácticas y políticas en materia de privacidad. 
LIMITACIÓN DE RESPONSABILIDAD 
Usted reconoce que es responsable por: (a) cualquier daño que se pueda producir en los equipos terminales o sistemas informáticos que usted utiliza para conectarse a nuestro Sitio Web y; (b) cualquier pérdida de información, cuando dichos daños o pérdidas hayan sido causada por material o información que Usted haya descargado de nuestro Sitio Web. Digicel no ofrece garantía alguna, en la medida permitida por la ley, con respecto a la información o contenido que se encuentre disponible a través de su Sitio Web. Usted accede a dicho contenido o información bajo su propio riesgo. 
INDEMNIZACIÓN 
Usted asume la obligación de sacar en paz y a salvo a Digicel, sus accionistas, subsidiarias, afiliadas, funcionarios, distribuidores y empleados, con respecto a cualquier reclamo, acción o juicio iniciado por algún tercero, y que se funde o surja como consecuencia del uso que Usted realice del Sitio Web, de su violación de los Términos y Condiciones de Uso del Sitio Web, y/o de la violación de algún derecho de un tercero. Asimismo, Usted se obliga a indemnizar a Digicelcon respecto a cualesquiera gastos en los que Digicel incurra con motivo de la acción, reclamo o juicio referido, incluyendo, entre otros, pagos de multas, indemnizaciones, honorarios de abogados y otros gastos y costas en los que incurra Digicel. 
SEGURIDAD E INTEGRIDAD DEL SITIO 
Usted no debe violar la seguridad de nuestro Sitio Web de modo alguno. Dichas violaciones pueden resultar en responsabilidad civil o penal. Digicel tiene el derecho, pero no la obligación, de hacer cumplir estos Términos y Condiciones a través de cualquier medio. 
Digicelse reserva el derecho de restringir, suspender o cancelar el uso del Sitio Web, si determina de modo razonable que su conducta puede: (1) exponer a Digicel a sanciones, acciones legales u otro tipo de responsabilidad; (2) causar daño o interferir con la integridad o las operaciones normales del Sitio Web deDigicel; (3) interferir con el uso que otro usuario de Digicel hace del Sitio Web; (4) violar alguna ley, norma o reglamentación; o (5) presentar un riesgo inminente de daño a Digicel o a sus usuarios. Por lo mismo, Digicel se reserva el derecho de modificar o de interrumpir en forma temporal o permanente en cualquier momento, el Sitio Web o cualquier parte del mismo con o sin notificación previa. 
MODIFICACIONES AL SITIO WEB Y/O A LOS TÉRMINOS Y CONDICIONES 
Digicel podrá modificar el contenido del Sitio Web, y/o estos Términos y Condiciones en cualquier momento, publicando las modificaciones en su Sitio Web. Las modificaciones estarán vigentes a partir de su publicación en nuestro Sitio Web. Le pedimos por favor se mantenga al tanto de posibles cambios. En caso de Usted no nos haga saber su inconformidad en un plazo de 30 días a partir de la fecha en que se publiquen los cambios, asumiremos que Usted está de acuerdo. 
LEGISLACIÓN APLICABLE; JURISDICCIÓN 
Para la interpretación y cumplimiento de los presentes Términos y Condiciones las partes están de acuerdo en someterse a las leyes de la República de Panamá. Para cualquier desavenencia, las partes podrán acudir a la entidad correspondiente de servicio al consumidor, en este caso ACODECO en su ámbito administrativo para conciliar sus diferencias; de subsistir dichas diferencias, las partes se someten expresamente a los tribunales competentes de laRepública de Panamá, quienes serán los únicos que podrán conocer de cualquier juicio o reclamación relacionado con estos Términos y Condiciones. Las partes renuncian de manera expresa a cualquier otro fuero presente o futuro que por razón de sus domicilios presentes o futuros pudiera corresponderles. 
CONTACTO PARA RECLAMACIONES O DUDAS 
Para contactarnos, puede llamar a la línea destinada a servicio al cliente: PBX xxxxxx, enviarnos sus inquietudes o comentarios al correo electrónico: info@Digicelgroup.com, dentro de esta página usted encontrará diversos canales de atención como un chat en línea, de igual manera nuestras redes sociales tienen un acceso y horarios de atención en línea:
Dirección de oficinas: xxxx_--------xxxxxxx
</p>
</div>-->
        <form data-bind="submit: navigateToNextStep" novalidate="novalidate">
			<div class="sepa-mandate fontRed pl20">				
				<div class="field field-sepa-privacy required clearfix pl20">
					<div class="spea-left-">
					<label for="sepa-privacy" class="login_radio_label radiocontainer">
					   <input type="checkbox" checked="checked" name="sepa-privacy" class="sepa-privacy" value="yes" data-validate="{required:true}" /> <span class="checkmark"></span>
					   <!-- ko i18n: 'You have read and accepted the General Terms and Conditions'--><!-- /ko -->
					   
					</label>
					</div>
					<div class="spea-right">
						<div class="bgDocument"><a class="" target="_blank" data-bind="attr: { href: privacyUrl }">
						<u>View document</u><span class="glyphicon glyphicon-menu-right"></span></a></div>
					</div>
					<div class="spea-right">
						<div class="bgDocument"><a class="" target="_blank" data-bind="attr: { href: privacyUrl }">
						<u>Download</u><span class="glyphicon glyphicon-menu-right"></span></a></div>
					</div>
				</div>
				<div class="field field-sepa-privacy required clearfix pl20">
					<div class="spea-left-">
					<label for="sepa-privacy" class="login_radio_label radiocontainer">
					   <input type="checkbox" checked="checked" name="sepa-privacy" class="sepa-privacy" value="yes" data-validate="{required:true}" /> <span class="checkmark"></span>
					   <!-- ko i18n: 'You have read and accepted the Port In Terms and Condition'--><!-- /ko -->
					   
					</label>
					</div>
					<div class="spea-right">
						<div class="bgDocument"><a class="" target="_blank" data-bind="attr: { href: privacyUrl }">
						<u>View document</u><span class="glyphicon glyphicon-menu-right"></span></a></div>
					</div>
					<div class="spea-right">
						<div class="bgDocument"><a class="" target="_blank" data-bind="attr: { href: privacyUrl }">
						<u>Download</u><span class="glyphicon glyphicon-menu-right"></span></a></div>
					</div>
				</div>
				<div class="field field-sepa-privacy required clearfix pl20">
					<div class="spea-left-">
					<label for="sepa-privacy" class="login_radio_label radiocontainer">
					   <input type="checkbox" checked="checked" name="sepa-privacy" class="sepa-privacy" value="yes" data-validate="{required:true}" /> <span class="checkmark"></span>
					   <!-- ko i18n: 'You have read and accepted the Installation Billing Terms and Conditions'--><!-- /ko -->
					   
					</label>
					</div>
					<div class="spea-right">
						<div class="bgDocument"><a class="" target="_blank" data-bind="attr: { href: privacyUrl }">
						<u>View document</u><span class="glyphicon glyphicon-menu-right"></span></a></div>
					</div>
					<div class="spea-right">
						<div class="bgDocument"><a class="" target="_blank" data-bind="attr: { href: privacyUrl }">
						<u>Download</u><span class="glyphicon glyphicon-menu-right"></span></a></div>
					</div>
				</div>
			</div>
            <div class="actions-toolbar">
                <div class="primary">
                    <button data-role="opc-continue" type="submit" class="button action continue primary">
                        <span><!-- ko i18n: 'NextStep'--><!-- /ko -->Next</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>