<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Panama. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Panama\MagentoApi\Api\UpdateDeliveryInterface" type="Panama\MagentoApi\Model\UpdateDelivery" />
	<preference for="Panama\MagentoApi\Api\Data\DeliveryInterface" type="Panama\MagentoApi\Model\Delivery" />
	<preference for="Panama\MagentoApi\Api\UpdateInvoicesInterface" type="Panama\MagentoApi\Model\UpdateInvoices" />
	<preference for="Panama\MagentoApi\Api\Data\InvoicesInterface" type="Panama\MagentoApi\Model\Invoices" />
	<preference for="Panama\MagentoApi\Api\UpdateConfirmserialidsInterface" type="Panama\MagentoApi\Model\UpdateConfirmserialids" />
	<preference for="Panama\MagentoApi\Api\Data\ConfirmserialidsInterface" type="Panama\MagentoApi\Model\Confirmserialids" />
	<preference for="Panama\MagentoApi\Api\Data\OrderDetailsInterface" type="Panama\MagentoApi\Model\OrderDetails" />
	<preference for="Panama\MagentoApi\Api\UpdateInventoryInterface" type="Panama\MagentoApi\Model\UpdateInventory" />
	<preference for="Panama\MagentoApi\Api\Data\InventoryInterface" type="Panama\MagentoApi\Model\Inventory" />
	<preference for="Panama\MagentoApi\Api\Data\SkuDetailsInterface" type="Panama\MagentoApi\Model\SkuDetails" />
</config>