<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Panama\Handset\Model\ResourceModel\Handset\Handset\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">handset_price</argument>
            <argument name="resourceModel" xsi:type="string">Panama\Handset\Model\ResourceModel\Handset</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="handset_handset_list_data_source" xsi:type="string">Panama\Handset\Model\ResourceModel\Handset\Handset\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
