<?xml version="1.0"?>
<!--
/**
 * Location: magento2_root/app/code/Vendorname/Extensionname/etc/adminhtml/system.xml
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="panama" translate="label" sortOrder="1000">
            <label>PANAMA</label>
        </tab>
        <section id="magento_api" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Magento Api</label>
            <tab>panama</tab>
            <resource>Magento_Checkout::checkout</resource>
            <group id="delivery_status_code_configuration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Delivery Status Code Configuration</label>
                <field id="delivery_status_code" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delivery Status Code</label>
                </field>
            </group>
			<group id="porting_status_id_configuration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Porting Status Id Configuration</label>
                <field id="porting_status_id" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Porting Status Id</label>
                </field>
            </group>
        </section>
    </system>
</config>