<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
	<preference for="Magento\Checkout\Controller\Cart\Delete" type="Panama\Checkout\Controller\Cart\ExtendDelete" />
	<preference for="Magento\Checkout\Controller\Onepage\Success" type="Panama\Checkout\Controller\Onepage\ExtendSuccess" />
	<type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="cedapi_quote_to_order_item" type="Panama\Checkout\Model\Plugin\Quote\QuoteToOrderItem"/>
    </type>
</config>