<!--The 'step_code' value from the .js file should be used-->
<li id="portin" data-bind="fadeVisible: isVisible">
<div class="step-title" data-bind="i18n: 'Port In'" data-role="title"></div>
    <div id="checkout-step-title"
         class="step-content"
         data-role="content">
		 <p>
		 <table style="width:100%">
		 <tr><th>Current Service is:</th><th><input type="radio" name="Prepaid" value="" checked="checked" />Prepaid</th> </tr>
		 </table>
		<table style="width:100%">
		  <tr>
			<th>Current Operator</th>
			<th>Current Mobile Number</th> 
		  </tr>
		  <tr>
			<td>
			<select>
			  <option value="Claro">Claro</option>
			  <option value="Digicel">Digicel</option>
			  <option value="Movistar">Movistar</option>
			  <option value="Mas movil">Mas movil</option>
			</select>
			</td>
			<td><input type="text" name="mobile"></td>
		  </tr>
		</table>
		</p>
		<div class="fontRed pl201">
			<div>
				<label for=""> 
					<input checked="checked" name="terms-conditions-potin" type="checkbox" value="yes" data-validate="{required:true}" /> 
					You have read and accepted the Port In Terms and Conditions 
				</label>
				<div>
					<a target="_blank" id="portin" data-bind="attr: { href: PortinFile() }"  > 
					<span style="text-decoration: underline;">View document</span></a>
					
					<button id="showSignUp" class="btn btnOnAccordion btnBlue"  data-bind="click: function(){ downloadPortin() }">
							<span data-bind="i18n: 'Download'"></span>
						</button>
				</div>
			</div>
		</div>
	
        <form data-bind="submit: navigateToNextStep" novalidate="novalidate">
            <div class="actions-toolbar">
                <div class="primary">
                    <button data-role="opc-continue" type="submit" class="button action continue primary">
                        <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>