<!--The 'step_code' value from the .js file should be used-->
<li id="portin" data-bind="fadeVisible: isVisible">
<div class="step-title" data-bind="i18n: 'Port In'" data-role="title"></div>
    <div id="checkout-step-title"
         class="step-content portin-first"
         data-role="content">
		 <form class="form create account Saveportin" action="#" method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off">
		 <p>
		 <table style="width:100%">
		 <tr><th>Current Service is:</th><th><input type="radio" name="currentService" value="" checked="checked" /><span data-bind="text: service()" ></span></th> </tr>
		 </table>
		<table style="width:100%">
		  <tr>
			<th>Current Operator</th>
			<th>Current Mobile Number</th> 
		  </tr>
		  <tr>
			<td>
			<select name="CurrentOperator" id="CurrentOperator" class="form-control">
			  <option value="Claro">Claro</option>
			  <option value="Digicel">Digicel</option>
			  <option value="Movistar">Movistar</option>
			  <option value="Mas movil">Mas movil</option>
			</select>
			</td>
			<td><input type="text" name="currentNumber" id="currentNumber" data-validate="{required:true, 'validate-mobile-number':true, 'mobile-maxleng':true}" autocomplete="off" minlength= "8" maxlength="8"></td>
		  </tr>
		</table>
		</p>
     <div class="actions-toolbar">
                <div class="primary">
					<button id="showSignUp" class="btn btnOnAccordion btnBlue"  data-bind="click: function(){ getNip() }">
						<span data-bind="i18n: 'Next'"></span>
					</button>
				</div>
            </div>
        </form>
    </div>	
	<div class="portin-second" style="display:none;">
	<div class="portin-error message message-error error" style="display:none;clear:both;"></div>
	<form class="form create account Saveportin" action="#" method="post" id="form-portin" enctype="multipart/form-data" autocomplete="off">
		<div id="portIn" class="portin-block"></div>

	<input style="margin: 19px 3%;padding: 5px;width: 40%;" class="btn btnOnAccordion btnBlue" type="button" value="Resend NIP Number" data-bind="click: function(){ getNip() }">
	<div class="fontRed pl201">
			<div style="margin: 10px 0px;">
				<label for=""> 
					<input checked="checked" name="terms-conditions-potin" type="checkbox" value="yes" data-validate="{required:true}" /> 
					You have read and accepted the Port In Terms and Conditions 
				</label>
				<a target="_blank" id="portin" data-bind="attr: { href: PortinFile() }"  > 
					<span style="text-decoration: underline;">View document</span></a>
					<span style="text-decoration: underline;" data-bind="click: function(){ downloadPortin() }">Download</span>
				
			</div>
		</div> 
		
		<div class="clearfix mt20 mb10">
					<button type="submit" class="btn submit" title="" id="ct-account" data-bind="click: function(){ saveNip() }">
					<span data-bind="i18n: 'Submit'"></span>
					</button>
				</div>
       </form>
 
	</div>
</li>