<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Panama_InventorybyStore::parent" title="Inventory By Store" module="Panama_InventorybyStore" sortOrder="10" resource="Panama_InventorybyStore::parent"/>
        <add id="Panama_InventorybyStore::inventorybystore" title="Inventory By Store" module="Panama_InventorybyStore" sortOrder="20" parent="Panama_InventorybyStore::parent" action="inventorybystore/inventorybystore" resource="Panama_InventorybyStore::inventorybystore"/>
    </menu>
</config>